.header{
	background-color: #0080ff;
	box-shadow: 0px 10px 5px grey;
	padding: 5px;
	margin-bottom:10px;
}

.carousel-caption{ 
	color: white;
	font-size: 20px;
}

.body{
	background-color: lightblue;
} 

body{
	background-color:lightblue;
}
.containerForm{
	text-align: center;
	border: solid;
	background-color: lightgrey;
	border-radius:20px;
	box-shadow: 10px 10px 5px grey;
	padding:50px;
}
.emazonWelcome{
	text-align: center;
	font-family: Lucida Console;
	font-size: 50px;
	font-weight: bold;
}
.product{
	border: solid;
}
.myFooter{
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: black;
	color: white;
	box-shadow: 0px -10px 5px grey;
}
.logo{
	font-size: 40px;
	background-color: black;
	width: 150px;
	text-align: center;
	color: yellow;
	border-radius: 15px;
	font-weight: italic;
	font-family: Baskerville;
	text-shadow: 3px 3px gray;
	padding-left: 15px;
	padding-right: 15px;
	padding-top:5px;
	padding-bottom:5px;
}